/* Calendar.css */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.calendar-wrapper {
    font-family: "Montserrat", sans-serif;
    color: #303633;
    position: relative;
    outline: none;
    perspective: 1000px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    position: relative;
    width: 260px;
    height: 280px;
    box-sizing: border-box;
    transition: all 0.195s ease;
    transform-style: preserve-3d;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content-wrapper.is-rotated-left {
    transform: rotateY(-4deg);
}

.content-wrapper.is-rotated-right {
    transform: rotateY(4deg);
}

.left-wrapper {
    background-color: white;
    width: 100%;
    float: none;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right-wrapper {
    display: none;
}

.header {
    padding: 5px 0 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header i {
    padding: 0 5px;
    cursor: pointer;
}

.header span {
    display: inline-block;
    margin: 0 2px;
    font-weight: 700;
    font-size: 0.85em;
}

.right-wrapper {
    background-color: #48A9A6;
    color: white;
    transform-origin: left center;
    transform: rotateY(110deg);
    transition: all 0.5s;
    transform-style: preserve-3d;
    position: absolute;
    right: 0;
    top: 0;
}

.right-wrapper.is-active {
    transform: rotateY(0deg);
}

.right-wrapper .header {
    text-align: left;
    justify-content: center;
}

.right-wrapper .day {
    font-size: 6em;
    text-indent: -6px;
    display: block;
    font-weight: 700;
}

.right-wrapper .month {
    font-size: 1.5em;
    font-weight: 700;
}

.left-wrapper .showDate {
    color: white;
    text-align: right;
    width: 100%;
    margin-top: auto;
}

.left-wrapper .showDate i {
    cursor: pointer;
    background: #48A9A6;
    border-radius: 4px;
    padding: 4px 8px;
    transform: scale(1);
    transition: all 0.3s;
}

.left-wrapper .showDate i.is-active {
    transform: scale(-1);
}

.left-wrapper table {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin: 5px auto 0;
    table-layout: fixed;
    border-collapse: collapse;
}

.left-wrapper table tbody:before {
    content: "-";
    display: block;
    line-height: 0.4em;
    color: transparent;
}

.left-wrapper table th {
    color: #48A9A6;
    font-size: 0.6em;
    text-transform: uppercase;
    padding-bottom: 3px;
}

.left-wrapper table td {
    padding: 4px 1px;
    color: rgba(206, 208, 206, 1);
    font-size: 0.65em;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
}

.left-wrapper table td::before {
    content: "";
    display: none;
    width: 30%;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -4px);
    background-color: #48A9A6;
}

.left-wrapper table td.currentDay::before {
    display: block;
}

.left-wrapper table td.selectable {
    color: #303633;
}

.left-wrapper table td.selectable:hover {
    background: #48A9A6;
    color: white;
    border-radius: 50%;
}

.left-wrapper table td.active,
.left-wrapper table td.hover {
    background: #48A9A6;
    color: white;
    border-radius: 50%;
}